.heading{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.chatbox{
  width: 700px;
  height: 450px;
  overflow-y: auto;
  margin: auto;
  margin-top: 30px;
  font-family: Arial;
  border: 2px solid black;
  padding: 10px;
}
.ai{
    font-size: 18px;
    color: darkturquoise;
    margin: 10px 0;
}
.user{
    font-size: 18px;
    margin: 5px 0;
}
.names{
    font-size: 20px;
}
.chatInput{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.userInput{
    font-size: 16px;
    width: 580px;
    padding: 10px;
    border: 1px solid black;
}
.submitBtn{
    background-color: darkturquoise;
    font-size: 22px;
    margin-left: 20px;
    padding: 10px 15px;
}
.submitBtn:hover{
    color: blue;
    opacity: 60%;
}